/*portfolio site for Michael Bragg, web programmer*/

html {

}

.image-container {
  max-width:100%;
  height:auto;
  overflow:hidden;
}

.image-container img {
  max-width:100%;
  height:auto;
}

/*--------------*/
/*header styling*/
/*--------------*/
.navbar li {
  line-height:50px;
  padding-right:1rem;
}

.navbar {
  font-family:"Abril Fatface" , sans-serif;
}

.active {
  background-color: #f8f8f8;
  text-shadow: 1px 1px 2px #a0a0ab;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color:inherit;
}

.navbar img {
  height:35px;
  width:auto;
}

/*mobile styling for header*/
@media only screen and (max-width: 768px) {
  .navbar-nav {
    display:flex;
  }

  .navbar-nav li {
    padding-left:1rem;
  }
}

/*-----------------*/
/*jumbotron styling*/
/*-----------------*/
.vision {
  padding-top:5rem;
}

.vision .jumbotron {
  background-image: url('../images/snowy-mountains.jpg');
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  height: 40rem;
  text-align:center;
  margin-bottom:0;
}

.vision h1 {
  color:#070712;
  opacity:.95;
  padding-top:3rem;
  padding-bottom:3rem;
  font-family:"Abril Fatface", sans-serif;
  font-size:8rem;
  font-weight:bold;
  letter-spacing:1.4rem;
  text-shadow: 1px 1px 5px rgba(220,220,236,.6),
                3px 1px 8px rgba(220,220,236,.4),
                1px 1px rgba(220,220,236,.4),
                -1px 1px rgba(220,220,236,.4),
                1px -1px rgba(220,220,236,.4),
                -1px -1px rgba(220,220,236,.4);
}

/*mobile styling for jumbotron section*/
@media only screen and (max-width:768px) {
  .vision {
    padding-top:6rem;
  }

  .vision h1 {
    padding-top: 7rem;
  }
}

/*----------------*/
/*projects styling*/
/*----------------*/
/*decor elements are lined up in decor rows for pc-based
display, while site-previews are lined up in
project-rows.
  for mobile, decor elements are tagged decor-mobile and
interspersed with site previews set to col-xs-12 in the
project-rows.
  preview-backgrounds are nested in the site-previews
to be revealed on hover. the preview-backgrounds hold the
links to the websites and their github pages, while
site-previews only have a screenshot of the site.*/

.projects {
  background-image:url("../images/snow.jpg");
  padding-bottom:4rem;
  background-size:contain;
  background-repeat:repeat;
}

.projects-top-decor {
  margin-top:2rem;
}

.decor {
  background-color: rgba(25,30,50,.8);
  display:flex;
  align-items:flex-start;
  justify-content:center;
  z-index:3;
  padding:0;
}

.projects-top-decor .decor {
  height:3.5rem;
}

.projects-bottom-decor .decor {
  height:2rem;
}

.decor .image-container {
  margin-top:.2em;
  max-width:80%;
  opacity:.9;
}

.site-preview {
  position:relative;
  height:26rem;
  opacity:.7;
  padding-left:0;
  padding-right:0;
  box-shadow:-2px 2px rgba(25,30,50,.8);
  transition: box-shadow 500ms ease-in 70ms;
}

.site-preview:hover {
  box-shadow:none;
}

.preview-background {
  height:100%;
  max-width:100%;
  background-color:#3f3f4e;
  color:#dedef6;
  padding-left:1rem;
  padding-top:.5rem;
  opacity:0;
  z-index:900;
  transition: opacity 500ms ease-in 70ms;
}

.preview-background:hover {
  opacity:.95;
}

.preview-background h2 {
  background-image:url("../images/mountains-accent2alt.png");
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  color:#f2f2fb;

  text-shadow: 1px 1px #1b1b2c,
              -1px 1px #1b1b2c,
              1px -1px #1b1b2c,
              -1px -1px #1b1b2c;
}
.preview-background .image-container {
  margin-top:1rem;

}

.link-split {
  display:flex;
  height:12rem;
}

.site-link {
  width:50%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  border-right: dotted 1px #dedef6;
}

.github-link {
  width:50%;
  height:auto;
  margin-left:1rem;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.colmar-preview {
  background-image:url("../images/colmarC.jpg");
  background-position:center;
  background-size:cover;
}

.trackster-preview {
  background-image:url("../images/tracksterC.jpg");
  background-position:center;
  background-size:cover;
}

.jumpstart-preview {
  background-image:url("../images/jumpstartC.jpg");
  background-position:center;
  background-size:cover;
}

.match-game-preview {
  background-image:url("../images/match-gameC.jpg");
  background-position:contain;
  background-size:cover;
}

.decor-mobile {
  display:none;
}

/*mobile styling for projects section*/
@media only screen and (max-width: 1199px) {


  .decor-pc {
    display:none;
  }

  .projects-top-decor {
    margin-top:3rem;
  }

  .decor-mobile {
    display:flex;
  }

  .decor-mobile-top {
    margin-top:3rem;
    height:3.5rem;
  }

  .decor-mobile-bottom {
    height:2rem;
  }

  .site-preview {
    height:32rem;
  }

  .projects-bottom-decor {
    display:none;
  }

  .projects-row, .projects-top-decor {
    margin-left:.5rem;
    margin-right:.5rem;
    width:calc(100% - 1rem);
  }
}

/*mobile styling for projects section*/
@media only screen and (max-width: 768px) {
  .decor-mobile-top {
    margin-top:3rem;
  }

  .site-preview {
    height:26rem;
  }

}

/*footer styling*/
footer {

  text-align:left;
  background-color:rgba(25,30,50, .6);
}

footer .jumbotron {
  background-color:inherit;
  padding-left:40%;
  margin-bottom:0;
}

footer h2 {
  font-family:"Abril Fatface", sans-serif;
  font-weight:bold;
  font-size:4rem;
  margin-bottom:.6rem;
  color: #070712;
  text-shadow: 1px 1px #dedef6,
              -1px 1px #dedef6,
              1px -1px #dedef6,
              -1px -1px #dedef6;
}

footer .jumbotron p {
  margin-bottom:.8rem;
  color: #dedef6;
}

/*footer styling for mobile*/
@media only screen and (max-width:1199px) {
  footer .jumbotron {
    padding-left:20%;
  }
}

@media only screen and (max-width:768px) {
  footer .jumbotron {
    padding-left:15%;
  }

  footer .jumbotron p {
    font-size:1.6rem;
  }
}
